<app-nav></app-nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>Registro de salida Hotel Corona</h2>
                <br>
                <div class="form-group">
                    <label for="sel1">Tipo de indentificaci&oacute;n: </label>
                      <select class="form-control" id="sel1" name="sellist1">
                        <option>C&eacute;dula de ciudanania</option>
                        <option>Tarjeta de identidad</option>
                        <option>Pasaporte</option>
                      </select>
                    </div>
                <div class="form-group">
                  <label>N&uacute;mero de identificaci&oacute;n</label>
                    <input type="number" class="form-control" id="uname" placeholder="Ingrese el n&uacute;mero de identificaci&oacute;n" name="uname" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                    
                
            </div>
        </div>
    </div>
</div>