<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>Hotel Corona</h2>
                    <div class="form-group">
                        <label for="users.username">Id:</label>
                        <input type="text" [(ngModel)]="users.id" placeholder="Ingrese el Id" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="users.password">Contraseña:</label>
                        <input type="password" [(ngModel)]="users.password" placeholder="Ingrese la contraseña" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button (click)="validation()" class="btn btn-primary">Ingresar</button>
                    </div>         
            </div>
        </div>
    </div>
</div>