<app-nav-menu></app-nav-menu>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1>Bienvenido al sistema de gesti&oacute;n del Hotel Corona</h1>
                <h3>¿Qué desea hacer?</h3>
                <ul>
                        <li><a [routerLink]="['/checkin']">Nuevos ingresos al hotel (Check In)</a></li>
                        <li><a [routerLink]="['/checkout']">Nuevos retiros al hotel (Check Out)</a></li>
                        <li><a [routerLink]="['/consultar']">Consultas de los cuartos</a></li>
                </ul>             
            </div>
        </div>
    </div>
</div>