<app-nav></app-nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>Registro de ingreso Hotel Corona</h2>
                <br>
                <div class="form-group">
                    <label for="name">Nombres:</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingrese los nombre" name="name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                  </div>
                  <div class="form-group">
                      <label for="pwd">Apellidos:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Ingrese los apelldios" name="pswd" required>
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                  <div class="form-group">
                      <label for="sel1">Sexo: </label>
                      <select class="form-control" id="sel1" name="sellist1">
                          <option>Masculino</option>
                          <option>Femenino</option>
                          <option>Otros</option>
                        </select>        
                  </div>
                  <div class="form-group">
                      <label for="sel1">Tipo de identificaci&oacute;n: </label>
                        <select class="form-control" id="sel1" name="sellist1">
                          <option>C&eacute;dula de ciudanania</option>
                          <option>Tarjeta de identidad</option>
                          <option>Pasaporte</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label>N&uacute;mero de Identificaci&oacute;n:</label>
                        <input type="number" class="form-control" id="uname" placeholder="Ingrese el n&uacute;mero de identificaci&oacute;n" name="uname" required>
                    </div>
                    <div class="form-group">
                        <label for="uname">Fecha de ingreso:</label> 
                        <input type="date" class="form-control" id="name" placeholder="Ingrese la fecha de ingreso" name="name" required>
                     </div>
                     <div class="form-group">
                        <label for="uname">Fecha de salida:</label> 
                        <input type="date" class="form-control" id="name" placeholder="Ingrese la fecha de salida" name="name" required>
                     </div>
                     <div class="form-group">
                        <label for="sel1">Tipo de habitaci&oacute;n: </label>
                          <select class="form-control" id="sel1" name="sellist1">
                            <option>Normal</option>
                            <option>Premium</option>
                            <option>Doble</option>
                          </select>
                        </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                                                                 
            </div>
        </div>
    </div>
</div>