<app-nav-home></app-nav-home>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1>¿Qué desea hacer?</h1>
                <ul>
                        <li><a [routerLink]="['/viewRooms']">Agregar habitaciones</a></li>
                        <li><a [routerLink]="['/viewReservations']">Remover habitaciones</a></li>
                        <li><a [routerLink]="['/viewUsers']">Modificar habitaciones</a></li>
                </ul>             
            </div>
        </div>
    </div>
</div>