<app-nav-home></app-nav-home>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1>¿Qué desea consultar?</h1>
                <p>Sistema &uacute;nicamente para administradores</p>
                <h3>¿Qué desea hacer?</h3>
                <ul>
                        <li><a [routerLink]="['/viewRooms']">Habitaciones</a></li>
                        <li><a [routerLink]="['/viewReservations']">Reservas</a></li>
                        <li><a [routerLink]="['/viewUsers']">Usuarios</a></li>
                </ul>             
            </div>
        </div>
    </div>
</div>