<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <h2>Registrar usuario</h2>
                  <div class="form-group">
                      <label for="users.firstName">Primer nombre:</label>
                      <input type="text" [(ngModel)]="users.firstName" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label for="users.lastName">Primer apellido:</label>
                      <input type="text" [(ngModel)]="users.lastName" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label for="users.id">Id:</label>
                      <input type="text" [(ngModel)]="users.id" class="form-control"/>
                      
                  </div>
                  <div class="form-group">
                      <label for="users.password">Constraseña</label>
                      <input type="password" [(ngModel)]="users.password" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <button (click)="add()" class="btn btn-primary">Registrar</button>
                      <a [routerLink]="['/preregister']" class="btn btn-link">Volver</a>
                  </div>
          </div>
      </div>
  </div>
</div>